<div class="direction-container">
    <div class="container">
        <div class="content-container">
            <app-header-1 
              [text]="firstHeader"
              class="header"
            ></app-header-1>
            <app-paragraph class="paragraph" [text]="firstParagraph"></app-paragraph>
            <app-grey-button 
                [btnText]="firstBtn"
                class="button"
            ></app-grey-button>
        </div>
    </div>
    <div class="container image-container image-1"></div>
</div>
<div class="direction-container reversing-container">
    <div class="container">
        <app-header-1 
            [text]="secondHeader"
            class="header"
        ></app-header-1>
        <app-paragraph class="paragraph" [text]="secondParagraph"></app-paragraph>
        <app-grey-button 
            [btnText]="secondBtn"
            class="button"
        ></app-grey-button>
    </div>
    <div class="container image-container image-2"></div>
</div>

